<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="">
          <strong><h1><%= @article.title %></h1></strong>
        </div>
        <div class="">
          <%= link_to "Collect" %>
        </div>
        <div class="">
          <%= link_to "Comment" %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <!--user info  -->

        </div>
        <div class="col-md-8">
          <div class="col-md-12">
            <% if @article.image?%>
              <%= image_tag @article.image_url, class: "img-responsive img-rounded" %>
            <% else %>
              <img src="http://via.placeholder.com/350x350" class="img-responsive img-rounded">
            <% end %>
          </div>
          <div class="col-md-12">
            <h4><%= @article.content %></h4>
            <div class="">
              <%= link_to "Edit", edit_article_path(@article) %>
            </div>
            <div class="">
              <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm:"Are you sure?"} %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <!--user info  -->
        </div>
        <div class="col-md-8">
          <% @article.comments.each do |comment| %>
            <div>
              <p><%= simple_format comment.content %></p>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= form_for [@article, @comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "Leave massage here", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
          <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
